*{
	margin:0px;
	padding:0px;
}

body{
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 												AZUL-AZUL OSCURO*/
	background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////									HEADER DE INICIO												//////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.headArriba{
	text-decoration:underline;
	background:#fff;
	margin-bottom:80px;
	width:100%;

}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////									h1 y h6 del index												//////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.Bienv{
	width:100%;
	background:none;
	text-align:center;
	margin-bottom:20px;
	color:#fff;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////									FORMS DE INICIO												//////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.d-grid{
	width:40%;
	background:none;
	text-align:center;
}

a{
	text-decoration:none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////									BOTONES DE INICIO INDEX												//////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.btn{
	width:100%;
	background:#fff;
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////									ICONOS DE INICIO												//////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.iconos{
	width:100%;
	text-align:center;
	margin-top:40px;
	color:#fff;
	margin-bottom:100px;
}

.bi{
	margin:5px;
	width:0px;
	cursor:pointer;
	 opacity: 0.8;
}

.bi[type="icon"]:hover {
	 opacity: 1;
}

.bi[type="icon"]:active {
	 transform: scale(0.95);	/*cuando haga clic que se haga mas chico*/
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////									JO DE FORMULARIO DE LOGIN				//////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#eye {
	position: absolute;
	height: 23%;
	top:50%;
	right:8px;
	transform:translateY(-50%);
	opacity:0.3;
	cursor:pointer;
}

#eye:hover {
	opacity:0.8;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////									FORMULARIO DE ALTA DE REGISTRO				//////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.formu_log{
	width:300px;
	margin:auto;
	margin-top:50px;
	margin-bottom:40px;
	font-family:var(--bs-body-font-family);
	box-shadow:5px 5px 5px 0px;		/*0px 0px 80px #000*/
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:10px;
	padding:20px;
	background:#fff;
}

.titu_form_login{
	font-family:;
	margin-bottom:25px;
	text-align:center;
} 